#help-container {
    overflow: scroll;
    width: 90%;
    padding: 5%;
}

markdown#help {
    display: block;
    max-width: 100vw;

    ::ng-deep img {
        max-width: 90vw;
    }

    ::ng-deep p {
        white-space: normal;
    }

    ::ng-deep pre {
        padding: 10px;
        border: 1px solid lightgray;
        background-color: aliceblue;
    }
}
