<mat-card class="example-card">
  <mat-card-header>
    <mat-chip mat-card-avatar>{{gene.id}}</mat-chip>
    <mat-card-title>{{gene.names[0].names}}</mat-card-title>
    <mat-card-subtitle>{{gene.names[0].source}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let sequence of gene.sequences" class="text-overflow: ellipsis">
        <div matLine>{{sequence}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Close</button>
    <button mat-button color="primary">Download</button>
  </mat-card-actions>
</mat-card>
