<mat-card *ngIf="gene">
  <mat-card-header>
    <mat-chip mat-card-avatar>Gene {{gene.id}}</mat-chip>
    <mat-card-title>{{gene.names[0].names}}</mat-card-title>
    <mat-card-subtitle>{{gene.names[0].source}}</mat-card-subtitle>
  </mat-card-header>
  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sequences
          </mat-panel-title>
          <mat-panel-description>
            {{gene.id}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let sequence of gene.sequences">
            <div matLine>{{sequence}}</div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="blastResults.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            BLAST Results
          </mat-panel-title>
          <mat-panel-description>
            {{blastResults.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-blast-result *ngFor="let br of blastResults" [blastResult]="br">
        </app-blast-result>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
    <button mat-button color="primary">Download</button>
  </mat-dialog-actions>
</mat-card>
