<form class="form-same-species">
  <mat-select placeholder="Species1" class="full-width">
    <mat-option>

    </mat-option>
  </mat-select>
  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Interactome1"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Interactome2"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Genes">
  </mat-form-field>
  <button mat-raised-button button color="primary">Compare</button>
  <div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" class="table-same-species">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <ng-container matColumnDef="Gene">
        <mat-header-cell *matHeaderCellDef>Gene</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.gene}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Interacts">
        <mat-header-cell *matHeaderCellDef>Interacts</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.interacts}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Code">
        <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.code}}</mat-cell>
      </ng-container>
    </mat-table>
  </div>
  <button mat-raised-button button color="primary">Next Level</button>
  <button mat-raised-button button color="primary">Export</button>
  <button mat-raised-button button color="primary">Export Fasta</button>
</form>
