<mat-card>
<form [formGroup]="formSameSpecies">
  <mat-form-field class="width-100">
    <mat-select placeholder="Species" (change)="onChangeSpecies($event.value)" formControlName="species">
      <mat-option *ngFor="let specie of species" [value]="specie">
        {{ specie.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-50">
    <mat-select placeholder="Interactome A" formControlName="interactomeA">
      <mat-option *ngFor="let interactome of interactomes" [value]="interactome">
        {{ interactome.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-50 right">
    <mat-select placeholder="Interactome B" formControlName="interactomeB">
      <mat-option *ngFor="let interactome of interactomes" [value]="interactome">
        {{ interactome.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-100">
    <mat-label>Genes</mat-label>
    <input type="search" matInput placeholder="Start typing something to search genes"
           formControlName="gene"
           (input)="onSearchGenes($event.target.value)"
           [matAutocomplete]="auto" />
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let gene of genes" [value]="gene">
      {{ gene }}
    </mat-option>
  </mat-autocomplete>
  <mat-form-field class="width-25">
    <input type="number" matInput placeholder="Interaction level" formControlName="level" [(ngModel)]="level">
  </mat-form-field>
  <mat-slider thumbLabel tickInterval="1" [min]="1" [max]="3" [(ngModel)]="level" formControlName="level" class="width-75 right"></mat-slider>

  <button mat-raised-button color="primary" (click)="onCompare()">Compare</button>
  <a mat-raised-button color="primary" [href]="csvContent" [download]="csvName" *ngIf="csvContent !== ''">Export CSV</a>
  <button mat-raised-button color="primary" *ngIf="csvContent !== ''">Export Fasta</button>
  <mat-card *ngIf="!hideTable">
    <mat-tab-group>
      <mat-tab label="Graph view">
        <app-graph [nodes]="nodes" [links]="links" [graphWidth]="graphWidth" [graphHeight]="graphHeight"></app-graph>
      </mat-tab>
      <mat-tab label="Table view">
        <div class="table-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" class="table-same-species">
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <ng-container matColumnDef="Gene">
              <mat-header-cell *matHeaderCellDef>Gene</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.geneB.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Interactomes">
              <mat-header-cell *matHeaderCellDef>Interacts</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-chip-list>
                  <mat-chip *ngFor="let interactome of row.interactomes" ngClass="{{'link' + ((interactome.id % 4) + 1)}}">{{interactome.id}} </mat-chip>
                </mat-chip-list>
              </mat-cell>
            </ng-container>
          </mat-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</form>
</mat-card>
