<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon aria-label="Hobe icon" class="toolbar-icon">home</mat-icon>
    <span>EvoPPI Species</span>
  </button>
  <span class="toolbar-spacer"></span>
  <nav>
    <button mat-button *ngIf="authService.getUser().role === 'ADMIN'" routerLink="/users">Manage users</button>
    <button mat-button *ngIf="authService.getUser().authenticated" [matMenuTriggerFor]="loginMenu">
      {{authService.getUser().login}} ({{authService.getUser().role}})
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #loginMenu="matMenu">
      <button mat-menu-item routerLink="/profile"> Profile </button>
      <button mat-menu-item routerLink="/logout"> Log out </button>
    </mat-menu>
    <button mat-button *ngIf="authService.getUser().role === 'ADMIN'" routerLink="/interactomes">Interactomes</button>
    <button mat-button *ngIf="!authService.getUser().authenticated" routerLink="/login">Log in</button>
    <button mat-button>About</button>
  </nav>
</mat-toolbar>
