<svg #svg [attr.width]="options.width" [attr.height]="options.height">
  <svg:g [appZoomableOf]="svg">
    <svg:line *ngFor="let link of links"
      ngClass="{{'link' + link.type}}"
      [attr.x1]="link.source.x"
      [attr.y1]="link.source.y"
      [attr.x2]="link.target.x"
      [attr.y2]="link.target.y"
    ></svg:line>
    <svg:g *ngFor="let node of nodes" appDraggable="node" (click)="onNodeClick(node)"
       [draggableNode]="node" [draggableInGraph]="graph" [attr.transform]="'translate(' + node.x + ',' + node.y + ')'">
      <svg:circle
        ngClass="{{'node' + node.type}}"
        cx="0"
        cy="0"
        [attr.r]="node.r">
      </svg:circle>
      <svg:text
        class="node-name"
        [attr.font-size]="node.fontSize">
        {{node.label}}
      </svg:text>
    </svg:g>

  </svg:g>
</svg>
