.link1 {
  stroke-width: 2;
  stroke: rgb(48, 63, 118);
}

.link2 {
  stroke-width: 2;
  stroke: rgb(53, 141, 38);
}

.link3 {
  stroke-width: 2;
  stroke: rgb(141, 124, 51);
}

.link4 {
  stroke-width: 2;
  stroke: rgb(141, 69, 137);
}



.node {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;

  stroke: white;
  stroke-width: 0.25;
}

.node-name {
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: white;
}

