<mat-card class="login">
  <mat-card-header>
    <mat-card-title><h1>Log in</h1></mat-card-title>
    <mat-card-subtitle>Log in to access advanced options</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
      <mat-form-field class="width-100">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Your username"
               formControlName="username" required/>
        <mat-error>
          {{ formErrors.username }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="width-100">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Your password"
               formControlName="password" required/>
        <mat-error>
          {{ formErrors.password }}
        </mat-error>
      </mat-form-field>
      <div class="form-buttons">
        <button type="button" mat-raised-button routerLink="" (click)="goBack()">Back</button>
        <button type="submit" [disabled]="!formLogin.valid" mat-raised-button color="primary">Log in</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

