<div class="container-fluid">
    <div class="row" *ngFor="let filter of filters">
        <mat-form-field>
            <mat-label>{{filter.name}}</mat-label>
            <mat-select #filterSelect value="" (selectionChange)="onChangeFilter(filter.name, $event.value)">
                <mat-option value="">All</mat-option>
                <mat-option [value]="value" *ngFor="let value of keepValidValues(filter.values)">
                    {{value}}
                </mat-option>
            </mat-select>
            <button *ngIf="hasFilterValue(filter.name)" matSuffix mat-icon-button aria-atomic="Clear" 
                (click)="onClearFilter(filter.name, $event, filterSelect)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onChangeSearch()">
            <button *ngIf="searchText.length > 0" matSuffix mat-icon-button aria-atomic="Clear"
                    (click)="onClearSearchText()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="row">
        <button mat-button mat-raised-button (click)="onSelectAll()">
            Select All
        </button>
        <button mat-button mat-raised-button (click)="onDeselectAll()">
            Deselect All
        </button>
    </div>
    <div class="row">
        <mat-selection-list #interactomeList dense [multiple]="true" [disableRipple]="true"
                            (selectionChange)="onSelectedInteractomeChange($event)">
            <mat-list-option *ngFor="let interactome of filteredInteractomes"
                             [value]="interactome" [selected]="interactome.selected">
                {{interactome.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>
