/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~material-design-icons/iconfont/material-icons.css";

.width-100 {
  width: 100%;
}

.width-50 {
  width: 49%;
}

.width-25 {
  width: 24%;
}

.width-75 {
  width: 74%;
}

.right {
  float: right;
}

.link1 {
  stroke-width: 4;
  stroke: rgb(52, 112, 171);
  background-color: rgb(52, 112, 171) !important;
  color: white !important;
}

.link2 {
  stroke-width: 4;
  stroke: rgb(59, 80, 61);
  background-color: rgb(59, 80, 61)!important;
  color: white !important;
}

.link3 {
  stroke-width: 4;
  stroke: rgb(141, 124, 51);
  background-color: rgb(141, 124, 51) !important;
  color: white !important;
}

.link4 {
  stroke-width: 4;
  stroke: rgb(141, 69, 137);
  background-color: rgb(141, 69, 137) !important;
  color: white !important;
}

.node1 {
  fill: grey;
}

.node2 {
  fill: green;
}

.node {
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;

  stroke: white;
  stroke-width: 0.25;
}

.node-name {
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: white;
}
