
.table-distinct-species {
  flex: 1 1 auto;
  overflow: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-card{
  margin: 2px;
}
