<mat-card>
<form [formGroup]="formDistinctSpecies">
  <mat-form-field class="width-50">
    <mat-select placeholder="Reference Species" (change)="onChangeSpecies($event.value, 1)" formControlName="speciesA">
      <mat-option *ngFor="let specie of species" [value]="specie">
        {{ specie.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-50 right">
    <mat-select placeholder="Reference Interactome" formControlName="interactomeA">
      <mat-option *ngFor="let interactome of interactomes[1]" [value]="interactome">
        {{ interactome.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-50">
    <mat-select placeholder="Target Species" (change)="onChangeSpecies($event.value, 2)" formControlName="speciesB">
      <mat-option *ngFor="let specie of species" [value]="specie">
        {{ specie.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-50 right">
    <mat-select placeholder="Target Interactome" formControlName="interactomeB">
      <mat-option *ngFor="let interactome of interactomes[2]" [value]="interactome">
        {{ interactome.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-100">
    <mat-label>Gene</mat-label>
    <input type="search" matInput placeholder="Start typing something to search genes"
           formControlName="gene"
           [value]="genesInput" />
  </mat-form-field>
  <mat-accordion>
    <app-autocomplete *ngFor="let gene of genes" [title]="gene.geneId" [names]="gene.names" (radioSelected)="onGeneSelected($event)">
    </app-autocomplete>
  </mat-accordion>


  <mat-form-field class="width-25">
    <input type="number" matInput placeholder="Expect value" formControlName="eValue" [(ngModel)]="eValue">
  </mat-form-field>
  <mat-slider thumbLabel [min]="0" [max]="10" [step]="0.01" [(ngModel)]="eValue" formControlName="eValue" class="width-75 right"></mat-slider>
  <mat-form-field class="width-25">
    <input type="number" matInput placeholder="Minimum length of alignment block" formControlName="minAlignLength" [(ngModel)]="minAlignLength">
  </mat-form-field>
  <mat-slider thumbLabel tickInterval="1" [min]="0" [max]="100" [(ngModel)]="minAlignLength" formControlName="minAlignLength" class="width-75 right"></mat-slider>
  <mat-form-field class="width-25">
    <input type="number" matInput placeholder="Number of descriptions" formControlName="numDescriptions" [(ngModel)]="numDescriptions">
  </mat-form-field>
  <mat-slider thumbLabel tickInterval="1" [min]="0" [max]="20" [(ngModel)]="numDescriptions" formControlName="numDescriptions" class="width-75 right"></mat-slider>
  <mat-form-field class="width-25">
    <input type="number" matInput placeholder="Minimum identity (%)" formControlName="minIdentity" [(ngModel)]="minIdentity">
  </mat-form-field>
  <mat-slider thumbLabel tickInterval="1" [min]="0" [max]="100" [step]="1" [(ngModel)]="minIdentity" formControlName="minIdentity" class="width-75 right"></mat-slider>
  <mat-form-field class="width-25">
    <input type="number" matInput placeholder="Interaction level" formControlName="level" [(ngModel)]="level">
  </mat-form-field>
  <mat-slider thumbLabel tickInterval="1" [min]="1" [max]="3" [(ngModel)]="level" formControlName="level" class="width-75 right"></mat-slider>

  <button mat-raised-button button color="primary" (click)="onCompare()" [disabled]="formDistinctSpecies.status === 'INVALID'">Compare</button>
  <a mat-raised-button color="primary" [href]="csvContent" [download]="csvName" *ngIf="csvContent !== ''">Export CSV</a>
  <button mat-raised-button color="primary" *ngIf="csvContent !== ''">Export Fasta</button>
  <mat-card *ngIf="!hideTable">
    <mat-tab-group (selectedTabChange)="initTable()">
      <mat-tab label="Graph view">
        <app-graph [nodes]="nodes" [links]="links" [graphWidth]="graphWidth" [graphHeight]="graphHeight"></app-graph>
        <app-legend-distinct-species [graphWidth]="graphWidth" [graphHeight]="graphHeight"></app-legend-distinct-species>
      </mat-tab>
      <mat-tab label="Table view">
        <mat-table matSort [dataSource]="dataSource" class="table-distinct-species">
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <ng-container matColumnDef="GeneA">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gene A</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.geneA}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="GeneB">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gene B</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.geneB}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="ReferenceInteractome">
            <mat-header-cell *matHeaderCellDef>Reference Interactome</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-chip-list *ngIf="row.referenceDegree !== ''">
                <mat-chip>Degree {{row.referenceDegree}}</mat-chip>
              </mat-chip-list>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="TargetInteractome">
            <mat-header-cell *matHeaderCellDef>Target Interactome</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-chip-list>
                <mat-chip *ngFor="let degree of row.targetDegrees">Degree {{degree}}</mat-chip>
              </mat-chip-list>
            </mat-cell>
          </ng-container>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</form>
</mat-card>
